<div class="row">
  <div class="col-12">
    <h4>Formulario de afiliación para nuevo registro</h4>
    <hr>
  </div>
  <div class="col-12">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="col-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="20" nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <input nz-input name="email" type="email" id="email">
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</div>

